

<form>
  <div class = "form-group" id = "mainContainer">

<!-------------------Flight Information-------------------------------->
<div class = "container" id="flightInfo" >
  <hr>
  <h3>Booking Form</h3>
  <hr>
        <div class="form-group row">
          <div class="col-md-2">
            <input class="form-control" type="text" value="Title" id="example-text-input">
          </div>
        <div class="col-5">
          <input class="form-control" type="search" value="First name..." id="example-search-input">
        </div>
        <div class="col-5">
          <input class="form-control" type="email" value="last name..." id="example-email-input">
        </div>
      </div>
    <div class="form-group row">
      <div class="col-md-4">
        <input class="form-control" type="datetime-local" value="DoB..." id="example-datetime-local-input">
      </div>
    <div class="col-md-3">
        <input class="form-control" type="tel" value="Telephone Number" id="example-tel-input">
      </div>
      <div class="col-md-5">
        <input class="form-control" type="email" value="E-mail address" id="example-password-input">
      </div>
      <hr>
    </div>
  <hr>
  </div>

<!-------------------Traveler Information-------------------------------->
<div class = "container" id="travelerInfo" >
  <hr>
  <h3>Traveler Form</h3>
  <hr>
        <div class="form-group row">
          <div class="col-md-2">
            <input class="form-control" type="text" value="Title" id="example-text-input">
          </div>
        <div class="col-5">
          <input class="form-control" type="search" value="First name..." id="example-search-input">
        </div>
        <div class="col-5">
          <input class="form-control" type="email" value="last name..." id="example-email-input">
        </div>
        </div>
      <div class="form-group row">
      <div class="col-md-4">
      <input class="form-control" type="datetime-local" value="DoB..." id="example-datetime-local-input">
      </div>
      <div class="col-md-3">
      <input class="form-control" type="tel" value="Telephone Number" id="example-tel-input">
      </div>
      <div class="col-md-5">
      <input class="form-control" type="email" value="E-mail address" id="example-password-input">
      </div>
      </div>
      <hr>
    </div>
      <!-------------------Price Information-------------------------------->
    <div class = "container" id="priceInfo" >
      <hr>
      <h3>Price Form</h3>
      <hr>
      <div class="form-group row">
        <div class="col-md-2">
          <input class="form-control" type="text" value="Title" id="example-text-input">
        </div>
      <div class="col-5">
        <input class="form-control" type="search" value="First name..." id="example-search-input">
      </div>
      <div class="col-5">
        <input class="form-control" type="email" value="last name..." id="example-email-input">
      </div>
      </div>
      <div class="form-group row">
      <div class="col-md-4">
      <input class="form-control" type="datetime-local" value="DoB..." id="example-datetime-local-input">
      </div>
      <div class="col-md-3">
      <input class="form-control" type="tel" value="Telephone Number" id="example-tel-input">
      </div>
      <div class="col-md-5">
      <input class="form-control" type="email" value="E-mail address" id="example-password-input">
      </div>
    </div>
    <hr>
</div>
<!------------------------------------------------>
</div>
</form>
